# Application
MAPDIR=..
APP_ENV=local
APP_USER=www
APP_DEBUG=true

# DB
MYSQL_ROOT_PASSWORD=secret
DB_PORT=3306
DB_CONNECTION=mysql
DB_HOST=mariadb

# Hosting
WORKDIR=/var/www
NGINX_ROOT=/var/www

# Debuging
XDEBUG_MODE=debug
XDEBUG_IDEKEY=VSCODE
XDEBUG_HOST=host.docker.internal
LIVERELOAD=false

# Software
NVM_NODEJS_ORG_MIRROR=https://unofficial-builds.nodejs.org/download/release
NODE_VERSION=18.16.1
LIVERELOAD=true
FISH=true
FZF=true
FDFIND=true
NVIM=true
NODE=true
OHMYFISH=true
OHMYBASH=false
