volumes:
    db:
    phpmyadmin:

networks:
    dev_network:

services:
    franken_php:
        image: asolopovas/franken-php:latest
        restart: always
        build:
            context: ./franken_php
            args:
                APP_USER: ${APP_USER}
                UID: ${UID}
                GID: ${GID}
                WORKDIR: ${WORKDIR}
        depends_on:
            mariadb:
                condition: service_healthy
            redis:
                condition: service_healthy
        environment:
            APP_ENV: ${APP_ENV}
            XDEBUG_HOST: ${XDEBUG_HOST}
            XDEBUG_MODE: ${XDEBUG_MODE}
            XDEBUG_IDEKEY: ${XDEBUG_IDEKEY}
            XDEBUG_TRIGGER: ${XDEBUG_TRIGGER}
        ports:
            - "80:80"
            - "8080:8080"
            - "443:443"
            - "443:443/udp"
            - "3000:3000/udp"
            - "3001:3001/udp"
            - "5173:5173"
        volumes:
            - ${MAPDIR}:/var/www
            - ${HOME}/.ssh:/home/www/.ssh
            - ${HOME}/dotfiles:/home/www/dotfiles
            - phpmyadmin:/var/www/html
            - ./franken_php/config:/etc/caddy
        tty: true
        networks:
            - dev_network

    mariadb:
        image: mariadb:lts
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        volumes:
            - db:/var/lib/mysql
            - ./mariadb/custom.cnf:/etc/mysql/conf.d/custom.cnf:ro
        healthcheck:
            test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
            interval: 10s
            timeout: 5s
            retries: 3
        networks:
            - dev_network
        ports:
            - 3306:3306

    redis:
        image: redis:7.4.2-bookworm
        restart: always
        volumes:
            - ./redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
        command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 3
        networks:
            - dev_network
        ports:
            - 6379:6379

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:fpm-alpine
        volumes:
            - phpmyadmin:/var/www/html
        restart: always
        depends_on:
            mariadb:
                condition: service_healthy
        environment:
            PMA_HOST: "mariadb"
            PMA_USER: "root"
            PMA_PASSWORD: "secret"
            PMA_PORT: "3306"
            PMA_ARBITRARY: 1
            UPLOAD_LIMIT: 10048M
            MAX_EXECUTION_TIME: 600
            MEMORY_LIMIT: 512M
        networks:
            - dev_network

    mailpit:
        image: axllent/mailpit:latest
        restart: always
        ports:
            - 1025:1025
            - 8025:8025
        networks:
            - dev_network

    typesense:
        image: typesense/typesense:29.0
        restart: on-failure
        ports:
            - "8108:8108"
        volumes:
            - ./typesense-data:/data
        command: '--data-dir /data --api-key=xyz --enable-cors'
        healthcheck:
            test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/8108'"]
            interval: 10s
            timeout: 5s
            retries: 3
        networks:
            - dev_network
