{
    "output": "~/www/dev/franken_php/config/sites/",
    "template": "~/www/dev/franken_php/config/template.conf",
    "WEB_ROOT": "/var/www",
    "hosts": [
        {
            "name": "example.test",
            "type": "wordpress",
            "db": "example_wp"
        },
        {
            "name": "laravel.test",
            "type": "laravel",
            "db": "laravel_db"
        }
    ]
}
